* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

/* Generic */
body {
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}