header {
    height: 100px;

    .info {
        height: 20px;
        background-color: dodgerblue;
    }
}

figure {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .nav-left {
        flex-basis: 10%;

        img {
            max-width: 50%;
            display: block;
        }
    }

    .nav-center {
        flex-basis: 30%;
        height: 100%;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            li {
                padding: 12px;
                text-transform: uppercase;

                &.active {
                    color: rgb(2, 130, 249);
                    border-bottom: 4px solid rgb(2, 130, 249);
                }
            }
        }

        a {
            color: black;
            font-weight: bold;
        }
    }

    .nav-right {
        flex-basis: 20%;

        input {
            border: none;
            border-bottom: 2px solid dodgerblue;
            text-align: right;
            width: 150px;
        }
    }
}