.jumbo {
    height: 300px;
    width: 100%;
    background-image: url("../img/jumbotron.jpg");
    background-size: cover;
    background-position: top;
}

.main-top {
    background-color: black;
    color: white;
    min-height: 300px;

    position: relative;

    .title {
        display: inline-block;
        background-color: dodgerblue;
        color: white;
        text-transform: uppercase;
        padding: 10px;
        font-weight: bold;
        position: relative;
        top: -20px;
        left: 180px;
    }

    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 30px 0;

        .card {
            flex-basis: (100% / 6);
            padding: 20px 0px;
            cursor: pointer;
            background-color: black;

            figure {
                height: 200px;
                width: 200px;
                margin-bottom: 10px;

                img {
                    width: 200px;
                    height: 200px;
                    display: block;
                }
            }
        }
    }

    .buttons {
        margin: 0px auto;
        padding: 14px;
        width: 160px;
        border-radius: 18px;
        font-size: 11px;
        font-weight: 600;
        cursor: pointer;
    
        .load-button {
            background-color: $blue;
            padding: 10px;
            color: $white;
            text-align: center;
        }
    }


}